input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #929aab;
  padding: 20px;
  
}
